# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Anton\source\repos\pacei_NV_sovremenueTehnologiyVInternet\лабораторные\lab10(JSP)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
